<h1>NEWS一覧</h1>

<p><%= link_to "新規作成", new_admin_news_path %></p>

<table>
  <thead>
    <tr>
      <th>公開日時</th>
      <th>タイトル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |a| %>
      <tr>
        <td><%= l(a.published_at, format: :short) rescue a.published_at %></td>
        <td><%= link_to a.title, admin_news_path(a) %></td>
        <td>
          <%= link_to "編集", edit_admin_news_path(a) %> /
          <%= link_to "削除", admin_news_path(a), method: :delete, data: { confirm: "削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>