<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <header style="padding:12px; border-bottom:1px solid #eee;">
      <%= link_to "Dashboard", admin_root_path %>
      |
      <%= link_to "Logout", destroy_admin_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
    </header>

    <main style="padding:16px;">
      <%= yield %>
    </main>
  </body>
</html>
