<!DOCTYPE html>
<html>
  <head>
    <title>Worldproduce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <div class="site-header__inner">
          <%= link_to root_path, class: "site-header__brand" do %>
            <%= image_tag "logo.jpg", alt: "WORLD PRODUCE", class: "site-header__logo" %>
          <% end %>

          <nav class="site-header__nav" aria-label="Primary">
            <%= link_to "News", news_path, class: "site-header__link" %>
            <%= link_to "Store", store_path, class: "site-header__link" %>
            <%= link_to "Company", company_path, class: "site-header__link" %>
            <%= link_to "Contact", contact_path, class: "site-header__link" %>
          </nav>
        </div>
      </div>
    </header>

    <main class="site-main">
      <%= yield %>
    </main>

    <footer class="site-footer">
      <div class="container">
        <div class="site-footer__inner">
          © 2026 Worldproduce
        </div>
      </div>
    </footer>
  </body>
</html>